/* Inserta tu codigo aqui */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.naveg {
	padding-top: 4%;
}
.naveg a {
	color: rgba(77, 77, 77, 0.58);
	font-weight: bold;
	font-size: 20px;
	padding: 0% 3%;
	text-decoration: none;
}
.naveg a:hover {
	color: #5E8039;
}
.logo {
	width: 110px;
}
.semilla {
	background-image: url(../img/semilla.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 200px;
}
.bg-gray p {
	padding: 70px;
	text-align: center;
	color: #4D4D4D;
}
/*nosotros*/
.mision {
	padding: 70px 10px 70px 0px;
	text-align: center;
	color: #4D4D4D;
}
.vision {
	padding: 70px 0px 70px 10px;
	text-align: center;
	color: #4D4D4D;
}
.metod-1{
	background-image: url(../img/metodo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}
.metod-2{
	background-image: url(../img/fondo.jpg);
	background-position: center;
	color: white;
	height: 450px;
	padding: 7% 5%;
	text-align: center;
}
.metod-2 p {
	padding-bottom: 40px;
}

.title {	
	padding: 20px 0px;
	text-align: center;
}
/*servicios*/
.serv {
	padding: 4% 0%;
	text-align: center;
}
.servs {
	padding: 6%;
	text-align: center;
}
/*proyectos*/
.info {
	color: white;
	padding-bottom: 30px;
}
.dist {
	padding: 3% 0%;	
}
.img {
	width: 100%;
	padding-right: 6%;
}
/*equipo*/
.team {
	padding: 0px 20px 40px 20px;
	text-align: center;
}
.team-foto {
	border-radius: 50%;
	width: 60%;
}
.team-redes {
	margin: 3%;
    width: 40px;
}
/*blog*/
.blog-bg {
	background-image: url(../img/fondo2.jpg);
	position: relative;
	padding: 3% 60px;
}
.atras, .adelante{
	width: 45px;
	cursor: pointer;
}
.atras {
	position: absolute;
  	top: 250px;
	left: 30px;
}
.adelante {
	position: absolute;
  	top: 250px;
	right: 30px;
}
.blog-text {
	color: rgb(83, 88, 95);
	padding: 4%;
	color: #4D4D4D;
}
/*seguir*/
.social {
	background-color: #4D4D4D;
}
.social-box {
	border: 1px solid white;
	margin: 30px 0px;
	padding: 20px 20px 150px;
	cursor: pointer;
}
.social-box p {
	display: inline-block;
	color: white;
	font-size: 26px;
}
.social-img {
	float: right;
	width: 25%;
}
.social-box:hover{
	background-color: #5E8039;
}
/*footer*/
.foot {
	color: grey;
	padding: 5%;
}
